[Desktop Entry]
Exec=konsole --hold -e /bin/sh "%f"
MimeType=application/x-shellscript;
Name=konsole --hold -e /bin/sh ""
NoDisplay=true
Type=Application
